
### APP ##############################################

DATABASE_HOST = db
#DATABASE_NAME=myapp_development
#DATABASE_USER_NAME=postgres
#DATABASE_USER_PASSWORD=
ENVIRONMENT_APP=development staging
DATABASE_URL="postgres://myuser:mypass@localhost/somedatabase"


### NGINX ##############################################





### POSTGRES ##############################################
 
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_ENTRYPOINT_INITDB=./postgres/docker-entrypoint-initdb.d


